.taskbar-item-workbench_notifiers_activity .item-list ul {
  margin: 0;
}
.taskbar-item-workbench_notifiers_activity .item-list ul li {
  list-style: none;
  padding: 1% 6%;
}
.taskbar-item-workbench_notifiers_activity .item-list ul li a {
  font-size: 12px;
  display: block;
  text-decoration: none;
}
.taskbar-item-workbench_notifiers_activity .item-list ul li a.wn_read {
  color: #555;
}
.taskbar-item-workbench_notifiers_activity .item-list ul li a.wn_unread {
  color: #36a2f6;
}
.taskbar-item-workbench_notifiers_activity .item-list ul li:nth-child(odd) {
  background-color: #f1f1f1;
}
.taskbar-item-workbench_notifiers_activity .item-list ul li.first {
  background-color: #e0e0e0;
  text-align: center;
}
.taskbar-item-workbench_notifiers_activity .item-list ul li span#wn_mark_all_read {
  font-size: 13px;
  cursor: pointer;
  display: block;
  font-weight: 600;
}
.taskbar-item-workbench_notifiers_activity .taskbar-item-extra {
  width: 300px;
}
